<svg \{{ with .Class }}class="\{{ . }}" \{{ end }}\{{ with .Width }}width="\{{ . }}" \{{ end }}\{{ with .Height }}height="\{{ . }}" \{{ end }}{{{attributes}}}\{{ with .Style }}style="\{{ . }} "\{{ end }}>
    {{{content}}}
</svg>